{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>TO_DO APP</h1>
  <h2>MY DAY</h2>
  <p>{% now 'F jS Y' %}</p>
  <hr>
  <h1>Pending tasks</h1>
  {% for task in tasks %}
  <h2>
    {{ task.task }}
    <a href="">make as done</a>
    <a href="">delete</a>
    <a href="">edit</a>
  </h2>
  {% endfor %}
  <hr>
  <h1>Completed tasks</h1>
  {% for task in completed_tasks %}
  <h2>
    {{ task.task }}
  </h2>
  {% endfor %}
  <hr>
  <h2>Add-Task</h2>
  <form action="{% url 'addtask' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="task">
    <button type="submit"> Add</button>
  </form>
</body>
</html>